name: deploy-node
summary: deploy a node for cloud deployer env
maintainer: root <root@ubuntu-trusty-1.c.jujutest-1158.internal>
description: |
     deploy a node for cloud deployer env 
tags:
  # Replace "misc" with one or more whitelisted tags from this list:
  # https://jujucharms.com/docs/stable/authors-charm-metadata
  - misc
  - ops
subordinate: false
provides:
    db:
      interface: http
storage:
  data:
    type: filesystem
    description: data storage
    shared: false # not yet supported, see description below
    read-only: false # not yet supported, see description below
    minimum-size: 100M
    location: /srv/data
